<h4>Configuration for Raspberry Pi</h4>

<form class="form-horizontal">
  This plugin only works on Raspberry Pi (1 to 3). Before use make sure you have
  a Si7021 sensor connected and working with your Pi. This plugin was tested on
  Octoprint v1.3.2 only.
  <div class="control-group">
    <label class="control-label" for="settings-si7021-display"></label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.displaySi7021">
        Display Si7021 sensor data
      </label>
    </div>
  </div>
</form>
